@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,600;0,6..96,700;1,6..96,400;1,6..96,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* --------- GENERAL STYLES --------------- */
:root {
  font-family: 'Tenor Sans', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  --primary: #A8715A;
  --secondary: #DD8560;
  --title: #000000;
  --label: #555555;
  --bgcolor: #F8F0E7;
  --bgcolortwo: #eef1f7;
  --body: #333333;
  --line: #E0CFBA;
  --inputbg: #F9F9F9;
  --offwhite: #fcfcfc;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* --------- BODY STYLES --------------- */


body {
  width: 100vw !important;
  height: auto;
  overflow-x: hidden !important;
  background-color: var(--offwhite);
}

/* --------- CUSTOM FONT/TYPOGRAPHY STYLES --------------- */

.title {
  font-family: 'Tenor Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 40px;
  /* identical to box height, or 222% */
  letter-spacing: 4px;
  text-transform: uppercase;
}

.sub-title {
  font-family: 'Tenor Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  letter-spacing: 2px;
  text-transform: uppercase;
}

.sub-title-lower {
  font-family: 'Tenor Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  letter-spacing: 2px;
  text-transform: uppercase;
}

.body {
   font-family: 'Tenor Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

/* --------- HERO SECTION STYLES --------------- */


.hero-image {
  background-image: linear-gradient(90deg, rgba(252, 252, 252, 0.151), rgba(226, 220, 220, 0.226)), url("./assets/hero.jpg");
  height: 90vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  font-family: 'Bodoni Moda';
  font-style: italic;
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-btn {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.9rem;
}

@media (min-width: 412px) { 
  .hero-btn {
    font-size: 1.3rem;
    }
}

@media (min-width: 912px) {
  .hero-image  {
    background-image: none;
    background-color: rgba(231, 234, 239, 0.8);
  }

  .hero-btn {
  font-size: 2rem;
  }
}

/* --------- UI STYLES --------------- */
.semi-diamond {
  width: 6px;
  height: 6px;
  border: 1px solid var(--secondary);
  transform: rotate(45deg);
}

/* --------- SECTION HEADING STYLES --------------- */

.title-icon {
  position: relative;
  width: 200px;
}

.title-icon .line {
  position: absolute;
  width: 200px;
  border-top: 1px solid var(--label);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.diamond {
  position: absolute;
  width: 10px;
  height: 10px;
  border: 1px solid var(--label);
  z-index: 30;
  margin: -5px auto;
  left: 50%;
  transform: rotate(45deg);
}

/* --------- COLLECTION STYLES --------------- */

.collection-ad1 {
  position: relative;
  width: 100vw;
}

.collection-ad1 .col-text {
  position: absolute;
  top: 60%;
  left: 45%;
  transform: translate(-50%, -50%);
}

.col-text p, .col-text h3 {
  font-family: 'Bodoni Moda';
  position: absolute;
  line-height: 10px;
  font-style: italic;
}

.col-text-col, .col-text-mon {
  color: var(--offwhite);
  margin-left: 1rem;
}

.col-text-num {
  font-size: 7.5rem;
  opacity: 0.4;
  color: var(--body);
}

.col-text-mon {
  font-size: 2rem;
  font-weight: 700;
  font-style: italic;
  top: 90%;
  left: 40%;
  transform: translate(0%, -100%);
}

.col-text-col {
  position: absolute;
  font-family: 'Tenor Sans';
  font-size: 0.6rem;
  margin-top: 1rem;
  letter-spacing: 0.4rem;
}

@media (min-width: 920px) {
.col-text-num {
  font-size: 17rem;
}

.col-text-mon {
  font-size: 5rem;
}

.col-text-col {
  font-size: 2rem;
  margin-top: 1.5rem;
}

.col-text-col, .col-text-mon {
  margin-left: 2rem;
}
}

.collection-ad2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 3rem 0;
}

.collection-ad2 .col2-text {
  position: absolute;
  top: 25%;
  left: 60%;
  transform: translate(-50%, -50%);
  color: var(--label);
  text-align: end;
  line-height: 0.8rem;
}

.col2-text-sea {
  font-family: 'Bodoni Moda';
  font-size: 3rem;
  font-weight: 700;
  font-style: italic;
}

.col2-text-col {
  font-family: 'Tenor Sans';
  font-size: 0.8rem;
  margin-top: 1rem;
  letter-spacing: 0.4rem;
}


@media (min-width: 920px) {  
  .collection-ad2 .col2-text {
    line-height: 2.5rem;
  }

  .col2-text-sea {
    font-size: 5rem;
  }
  
  .col2-text-col {
    font-size: 2rem;
  }
  
  }

  .collection-ad3 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }
  
  .collection-ad3 .col3-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--label);
    font-size: 4rem;
  }

  /* ----------PRODUCT ON CAROUSEL ---------- */

